{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="justify-content-center">
    {% comment %} <div class="col-6"> {% endcomment %}
      <div class="card">
        <div class="card-body">
          <h2>Log in</h2>
          <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Log in</button>
            {% comment %} <a href="{% url 'password_reset' %}" class="btn btn-link">Forgot your password?</a> {% endcomment %}
          </form>
        </div>
      </div>
    {% comment %} </div> {% endcomment %}
  </div>
{% endblock %}
